package router

import (
	"github.com/gin-gonic/gin"
	"github.com/go-xuan/quanx/app/ginx"
	"github.com/go-xuan/quanx/server/gormx"

	"{{.App}}/internal/model/entity"
)

func BindApiRouter(router *gin.RouterGroup) {
	db := gormx.DB()
	{{- range $model := .Models}}
	ginx.NewCrudApi[entity.{{uc $model.Name}}](router.Group("{{lc $model.Name}}"), db) // {{$model.Comment}}-增删改查
	{{- end}}
}
