package router

import (
	"github.com/gin-gonic/gin"
	"github.com/go-xuan/quanx/app/ginx"
	"github.com/go-xuan/quanx/server/gormx"

	"{{.App}}/internal/controller"
	"{{.App}}/internal/model/entity"
)

func BindApiRouter(router *gin.RouterGroup) {
	db := gormx.DB()
	{{- range $table := .Tables}}
	ginx.NewCrudApi[entity.{{uc $table.Name}}](router.Group("{{lc $table.Name}}"), db)     // 增删改查
	{{- end }}
}
