source: default
enable: true
type: {{.DB.Type}}
host: {{.DB.Host}}
port: {{.DB.Port}}
username: {{.DB.Username}}
password: {{.DB.Password}}
database: {{.DB.Database}}
schema: {{.DB.Schema}}
debug: true
init: true