package controller

import (
	"github.com/gogf/gf/v2/net/ghttp"
)

type Response struct {
	Message   string `json:"message"`
	ErrorCode string `json:"errorCode"`
	Data      any    `json:"data"`
}

type BaseController struct {}

// Init 自动执行的初始化方法
func (c BaseController) Init(r *ghttp.Request) {}

func (c BaseController) Response(r *ghttp.Request) {
	r.Middleware.Next()
	if r.Response.BufferLength() > 0 {
		return
	}
	if err := r.GetError(); err != nil {
		r.Response.WriteJson(&Response{
			ErrorCode: "0X00000001",
			Message:   err.Error(),
			Data:      err,
		})
	} else {
		r.Response.WriteJson(&Response{
			ErrorCode: "0x00000000",
			Message:   "成功",
			Data:      r.GetHandlerResponse(),
		})
	}
}
