package main

import (
	"github.com/go-xuan/quanx/app"

	"{{.App}}/internal/model/entity"
	"{{.App}}/internal/router"
)

func main() {
	var engine = app.DefaultEngine()
	engine.AddGinRouter(router.BindApiRouter)
	engine.AddTable(
		{{- range $table := .Tables}}
		&entity.{{uc $table.Trim}}{},
    	{{- end}}
	)
	// 初始化路由
	engine.RUN()
}